header.app-header {
  background-color: var(--grey-color);

  .wrapper {
    height: 60px;
    dislay: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 100px;
    }

    ul {
      display: flex;

      li {
        margin-left: 20px;
        font-size: 14px;
      }
    }
  }
}
